<ul>
    {{ $fake := slice }}
    {{ $nonFake := slice }}
    
    {{ range .Page.Pages }}
        {{ if strings.HasPrefix .Title "Fake" }}
            {{ $fake = $fake | append . }}
        {{ else }}
            {{ $nonFake = $nonFake | append . }}
        {{ end }}
    {{ end }}
    
    {{ $fake := sort $fake "Title" }}
    {{ $nonFake := sort $nonFake "Title" }}
    
    {{ range $fake }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    
    {{ range $nonFake }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>